<h3> List of Posts </h3>
<div align="center" id="paginator"> 
<%= paginate @posts, remote: true %>
</div>
<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th>
				#
			</th>
			<th>
				DATE
			</th>
			<th>
				Overtime
			</th>
			<th>
				USER
			</th>

			<th>
				RATIONALE
			</th>
			<th>
			  STATUS
			</th>
			<th>
			  ACTIONS
			</th>
			 

		</tr>
	</thead>


	<tbody id= "posts">
	 <%= render @posts %>          
		 
	</tbody>
</table>
<div align="center" id="paginator1"> 
<%= paginate @posts, remote: true %>
</div>
 
 
