<h3> List of Posts </h3>
 
 
<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th>
				#
			</th>
			<th>
				DATE
			</th>
			<th>
				USER
			</th>
			<th>
				RATIONALE
			</th>
			<th>
			  ACTIONS
			</th>
			<th>
			  
			</th>

		</tr>
	</thead>


	<tbody>
	 <%= render @posts %>          
		 
	</tbody>
</table>
	 
 
