 /* app/assets/stylesheets/application.css.scss */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "posts.css";
@import "toastr";
@import "admin_homepage.css";
@import "employee_homepage.css";
 

.custom-nav{
	padding-top: 20px;
}


.btn-employee-home {
	white-space:normal !important;
}
.navbar{
	background: #0E1112;
}
.navbar-nav :hover{
	background: #FAFAFA !important;
}

#logo{
     font-size: 2em;
     color: #FAFAFA;
     font-weight: bold;
}