 /* app/assets/stylesheets/application.css.scss */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "posts.css";
@import "gritter";
@import "admin_homepage.css";
@import "employee_homepage.css";
 

.custom-nav{
	padding-top: 20px;
}


.btn-employee-home {
	white-space:normal !important;
}